@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 
    [head] auto
    [bun] auto 
    [member] auto
    [foot] auto;
    font-family: "Futura Medium", "游ゴシック体 Medium" , sans-serif ;
    letter-spacing: 0.12em;
    color: #fff;
    background-color: #3D91DA;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
header , footer {
    grid-column: 1 / -1;
}
section {
    grid-column: 2 / -2;
    grid-row: bun;
}
.member {
    grid-column: 2 / -2;
    grid-row: member;
    margin: 65px 45px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px 70px;
}
footer {
    grid-column: 1 / -1;
    grid-row: foot;
    margin-bottom: 50px;
}
footer p {
    text-align: center;
}

figure{
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}

.yokoku {
    border: solid 1px #fff;
    padding: 18px 20px;
    width: 195px;
    margin: 35px auto ;
    font-size: 40px;
}
.bar{
    height: 45px;
    width: 0px;
    margin: 65px auto;
    border: solid 1px #fff;
}
h1 , h3{
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 27px;
    margin-bottom: 10px;
}
p , h1 , h2  {
    margin-top: 65px;
}
h3 {
    margin-top: 200px;
}
article , footer {
    text-align: center;
}
p {
    text-align: justify;
}
article  p { 
    margin-top: 0px;
    text-align: center;
}
ul {
    margin-left: 25px;
 }
.insta {
    width: 50px;
    margin: 100px auto;
}
aside img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}
aside a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}
aside i img{
    width: 11px;
    height: 9px;
    margin-bottom: 0px;
    margin-right: 5px;
}
aside h4 {
    text-align: center;
    margin-top: 50px;
}
.pepe {
    font-size: 10px;
    letter-spacing: -0.05em;
    margin-top: 1px;
    margin-left: -2px;
}
.nirohs {
    letter-spacing: 0;
}

@media (min-width: 768px){

    body {
        display: grid;
    grid-template-columns: auto 750px auto;
    }
    header , footer {
        grid-column: 2 / -2;
    }
    .pepe {
        font-size: 0.83em;
        letter-spacing: 0.12em;
        margin-top: 0px;
    }
    .nirohs {
        letter-spacing: 0.12em;
    }
}